.shop{
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav{
    display: flex;
    gap: 30%;
    align-items: center;
}
.nav-options{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    margin: 20px;
    background-color: #8369c0;
}

#title{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}
#upload-head{
    display: flex;
    gap: 20%;
    margin-top: 10px;
}