.home-main{
    display: flex;
    height: 100vh;
    border: 1px solid red;
    padding: 60px;
}
.home-map{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}
/* .home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    height: 100vh;
}
.home-map{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px 30px;
    flex-wrap: wrap;
    border: 1px solid red;
}  */