.home-main{
    display: flex;
    height: 100vh;
    padding: 60px;
}
.home-map {
    position: absolute;
    top: 100px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 40px; 
   
  }
.productName{
    color: black;
    font-weight: 600;
}
.productModel,.productPrice{
    color: black;
}
.home-map .items{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 7px;
    max-width: 250px;
    max-height: 330px;
}