.nav-body {
    flex-grow: 1;
  }
  
  .nav-bar {
    flex-grow: 1;
  }
  
  .nav-link {
    display: flex;
    /* justify-content: flex-end; */
    gap: 20px; 
  }
  
  .nav-link a {
    text-decoration: none;
    color: inherit;
    font-size: 18px; 
  }
  
  
  @media screen and (max-width: 600px) {
    .nav-link {
      align-items: flex-end;
    }
  }
  