.nav{
    display: flex;
    align-items: center;
}
.nav-options{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    margin: 20px;
    background-color: #8369c0;
}
#back{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s ;
}
#back:hover{
    color: #1976d2;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 6px;
}
#title{
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}
#upload-head{
    margin-left: 500px;
    margin-top: 10px;
}